<div id="overlay" class="overlay"></div>
<div id="online-payment-info" class="hidden" style="text-align: center;">
   <p>**Перевод денег**</p>
   <p>Переведите средства на указанный номер телефона, пожалуйста, переводите средства на Тинькофф или Сбербанк:</p>
   <p>+79877241976</p>
   <p>Как только вы осуществите перевод, нажмите кнопку "Я оплатил" ниже, чтобы завершить процесс.</p>
   <button id="payment-btn" style="float: right; margin-bottom: 20px;">Я оплатил</button>
   <button id="close-btn">Закрыть</button>
</div>
