<footer id="footer">
    <div class="inner">
        <section>
            <h2>Оставлись вопросы? Свяжитесь с нами</h2>
            <form method="post" action="{% url 'users:feedback_processing'%}">
                {% csrf_token %}
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="feedback_name" id="feedback_name" placeholder="Имя" />
                    </div>
                    <div class="field half">
                        <input type="email" name="feedback_email" id="feedback_email" placeholder="Почта" />
                    </div>
                    <div class="field">
                        <textarea name="feedback_message" id="feedback_message" placeholder="Сообщение"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Отправить" class="primary" /></li>
                </ul>
            </form>
        </section>
        <section>
            <h2>Наши ресурсы</h2>
            <ul class="icons">
                <li><a href="https://t.me/vestej" class="icon brands style2 fa-telegram-plane"><span class="label">Telegram</span></a></li>
                <li><a href="https://www.instagram.com/v3s.te?igsh=ODRkdngzcWN1M3k0&utm_source=qr" class="icon brands style2 fa-instagram"><span class="label">Telegram</span></a></li>
                <li><a href="https://www.tiktok.com/@v3s.te?_t=8jg015fZv8r&_r=1" class="icon brands style2 fa-tiktok"><span class="label">Telegram</span></a></li>
            </ul>
        </section>
    </div>
</footer>
