{% extends "base.html" %}

{% block content %}
    <h2>Информация о Заказе и Доставке</h2>

    <p><strong>Как происходит оплата?</strong> Оплата осуществляется через платежную систему.</p>

    <p><strong>Сколько дней обрабатывается заказ?</strong> Обработка заказа занимает от 7 до 12 дней (без учёта
        выходных), после чего вы получите трек-номер на электронную почту, по которому сможете отследить свою посылку.
    </p>

    <p><strong>Как осуществляется доставка?</strong></p>
    <ul>
        <li>Почтой по России — 390 руб.</li>
        <li>Курьер до двери по Йошкар-Оле — 490 руб.</li>
    </ul>

    <p><strong>Сколько времени идут посылки почтой?</strong></p>
    <p>Доставка по России занимает от 3 до 7 рабочих дней.</p>
    <p>По СНГ и миру от 10 до 14 рабочих дней.</p>
    <p><strong>*Сроки могут отличаться в зависимости от удаленности населенного пункта и загруженности компании
        отправителя.</strong></p>

    <p><strong>Можно ли сделать возврат?</strong> Возврат делается в случае брака изделия.</p>

    <p><strong>Что делать, если я не нашёл/нашла ответ на свой вопрос?</strong> В таких случаях рекомендую писать в телеграм</p>
    <p><a href="https://t.me/localhostj">тык</a>.</p>

{% endblock %}
